<h2>Player: {{name}}</h2>
<button [disabled]="finished" (click)="hit()">Hit</button>
<span>Current Card: {{currentCard}}</span>
<div>
    <button (click)="stand()">Stand</button>
    <span>Points: {{points}}</span>
</div>